<form method="POST" action="/reg">
  <h1>register yourself here</h1>
    <div class="err">
        <% if(typeof(err)!='undefined')  
            {%>
              <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><%= err %></strong>
              </div>
                 <h1></h1>
            <%}
        %>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email as username</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Email" value="<%= typeof(email) != 'undefined' ? email: '' %>">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">confirm Password</label>
        <input type="password" name="cpassword" class="form-control" id="exampleInputPassword1">
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>